@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Zain:wght@300;400;700&display=swap');

:root {
    --color-blue: #1B5E92;
    --color-white: #F5EDE2;
    --color-light-blue: #DBE7F7;
    --color-orange: #FF8D58;
    --color-blue-grey: #8DAFC8;
    --color-black: #202020;
}

body {
    background-color: var(--color-blue);
    margin: 0;
    font-family: "Zain", sans-serif;
}

/* ----- Text and title ------ */
.orange-text-title {
    color: var(--color-orange);
    font-family: "Hachi Maru Pop", cursive;
}

.white-text-title {
    color: var(--color-white);
    font-family: "Hachi Maru Pop", cursive;
}

.blue-text-title {
    color: var(--color-blue);
    font-family: "Hachi Maru Pop", cursive;
}

.black-text-title {
    color: var(--color-black);
    font-family: "Hachi Maru Pop", cursive;
}

.light-blue-title {
    color: var(--color-light-blue);
    font-family: "Hachi Maru Pop", cursive;
}

.black-text {
    color: var(--color-black);
    font-size: 16px;
}

.blue-text {
    color: var(--color-blue);
    font-size: 16px;
}

.orange-text {
    color: var(--color-orange);
}

.white-text {
    color: var(--color-white);
    font-size: 16px;
}

/* ----- Background ----- */
.light-blue-background {
    background-color: var(--color-light-blue);
}

.white-background {
    background-color: var(--color-white);
}

/* ----- Link ----- */
a:hover {
    color: var(--color-orange);
}

.active {
    color: var(--color-orange);
}

/* ----- Button ----- */
.light-blue-btn {
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    font-family: "Hachi Maru Pop", cursive;

    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    clip-path: polygon(100% 0%, 85% 0%, 50% 35%, 15% 0%, 0% 0%, 50% 50%);
}

.light-blue-btn:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    transform: scale(1.05);
}

/* ----- Arrows carusel ------ */
.splide__arrow {
    background: transparent !important;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
}

.splide__arrow svg {
    fill: var(--color-white) !important;
    opacity: 1 !important;
}

.splide__arrow svg:hover {
    fill: var(--color-orange) !important;
}


.splide__slide {
    transition: transform 0.3s ease;
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 480px;
    cursor: pointer;
}

.splide__slide:hover {
    transform: scale(1.01);
}

.splide__slide:hover .diamond-2 {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    background-image: url("icons/arrow_right.svg");
}

.splide__pagination__page.is-active {
    background: var(--color-orange) !important;
}

.splide__pagination__page {
    background: var(--color-light-blue) !important;
    opacity: 1 !important;
}

/* ----- Img ----- */
.img-home {
    max-height: 300px;
}

.img-portrait {
    max-height: 350px;
}

.img-carusel {
    width: 200px;
}

/* ----- Decoration ----- */
.decoration {
    top: 430px;
}

.diamond {
    background-color: var(--color-blue);
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

.diamond-2 {
    border: 2px solid var(--color-blue);
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-image: url("icons/arrow_right_blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease, background-color 0.3s ease;
}

.diamond-2:hover {
    background-color: var(--color-blue);
    background-image: url("icons/arrow_right.svg");
}

.diamond-light {
    background-color: var(--color-light-blue);
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

.orange-diamonds {
    top: 0;
    height: 100%;
    z-index: 15;
    pointer-events: none;
    width: 50px;
}

/* ----- Forma dei rombi ----- */
.diamond-shape {
    width: 20px;
    height: 20px;
    background-color: var(--color-orange);
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    border-radius: 2px;
}

.diamond1 {
    top: 120px;
}

.diamond2 {
    top: 330px;
}

.diamond3 {
    top: 530px;
}

.star1 {
    width: 50px;
    top: 1225px;
}

.no-rotate {
    transform: rotate(-45deg);
}

.rotate-45 {
    transform: rotate(45deg);
}

.chevron-section {
    background-color: #dce9fb;
    height: 200px;
    clip-path: polygon(0% 0%, 0% 70%, 50% 100%, 100% 70%, 100% 0%, 50% 25%);
}


/* ----- Header ------ */
.header {
    background-image: linear-gradient(to bottom, var(--color-black), var(--color-blue));
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* ----- Footer ------ */
.footer {
    background-image: linear-gradient(to bottom, var(--color-blue), var(--color-black));
}

.iconFooter {
    height: 40px;
}

.socialCol {
    position: relative;
    padding-left: 40px;
}

.socialCol::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 2px;
    background-color: var(--color-white);
}

@media (max-width: 586px) {
    .star1 {
        display: none;
    }
}

@media (max-width: 768px) {
    .socialCol::before {
        display: none;
    }

    .splide__slide {
        height: 600px;
    }
}

@media (max-width: 1199px) {
    .diamond2 {
        top: 380px;
    }

    .diamond3 {
        top: 605px;
    }

    .star1 {
        top: 1360px;
    }
}

@media (max-width: 991px) {
    .decoration {
        width: 32px !important;
        top: 470px;

    }

    .diamond2 {
        top: 400px;
    }

    .diamond3 {
        top: 675px;
    }

    .star1 {
        top: 1550px;
    }
}


@media (min-width: 1400px) {
    .diamond2 {
        top: 330px;
    }

    .diamond3 {
        top: 510px;
    }

    .star1 {
        top: 1180px;
    }

    .decoration {
        top: 400px;
        width: 25px !important;
    }

    .img-portrait {
        max-height: 450px;
    }

    .img-carusel {
        width: 400px;
    }
}